                         // sizes 
$size01:20px;
$size02:200px;
$size03:80px;
$size04:50px;
$size05:30px;
                        // fonts
$font01:'Indie Flower', cursive;
$font02:'Otomanopee One', sans-serif;